{{ ansible_managed | comment }}
{% if cockpit_config is defined %}
{%   for section, config in cockpit_config.items() | sort(attribute=0) %}
[{{ section }}]
{%     for key, value in config.items() | sort(attribute=0) %}
{{ key }} = {{ value }}
{%     endfor %}

{%   endfor %}
{%- endif %}
